.formulario {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 0 30%;
  height: 20rem;
  justify-content: space-evenly;
  border-radius: 1rem;
  background-color: #5b605f;
  width: 40%;
}

.formulario div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario label {
  font-family: "quicksand";
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0 2% 0;
  color: white;
}
.formulario input {
  height: 1.5rem;
  width: 13rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5%;
}
.ingresar {
  font-family: "quicksand", sans-serif;
  margin: 2% auto;
  color: white;
  background-color: var(--btnGreen);
  border: hidden;
  border-radius: 15px;
  font-size: 1.5rem;
  padding: 1% 3%;
  cursor: pointer;
}
.emailError,
.passwordError,
.failToSend,
.successfulSend {
  color: #fff;
  background: #a62b2b;
  border-radius: 1rem;
  padding: 0.5% 2%;
  margin: 2% auto;
  width: fit-content;
}
.successfulSend {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 5% auto;
  background-color: #4e4f51;
}
.loginTitle {
  color: white;
  margin: 5% 0 3% 0;
  background: auto;
  background: linear-gradient(45deg, #0095ff, #0bd2ff, #1feaff, #42fcff);
  width: fit-content;
  padding: 2%;
  border-radius: 1rem;
}
.success {
  background-color: #4e4f51;
  height: 12rem;
  width: 30%;
  border-radius: 2rem;
}
